@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <!-- Додайте ваші стилі CSS тут -->
    <style>
        /* Додайте стилі для рекламного блоку тут */
        .promotion-block {
            background-color: #f8f8f8;
            padding: 20px;
            border: 1px solid #ddd;
            margin: 20px 0;
            text-align: center;
        }

        .promotion-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .promotion-description {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .promotion-conditions {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <!-- Додайте вашу рекламу тут -->
    <div class="promotion-block">
        <div class="promotion-title">Суперакція!</div>
        <div class="promotion-description">
            Отримайте знижку 5% за кожне друге замовлення!
        </div>
        <div class="promotion-conditions">
            Умови акції: Замовте дві або більше одиниць і отримайте знижку 5% за кожний другий товар до загальної суми.
            <br /> Кількість одиниць обмежена - 15 
        </div>
    </div>

    <!-- Додайте інші блоки та контент вашого сайту тут -->
</body>
</html>
