


<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item active">
            <a href="/" class='sidebar-link'>
                <i class="fas fa-home"></i>
                <span>Головна сторінка</span>
            </a>
        </li>

        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Оголошення</span>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a href="/listing">Усі оголошення</a>
                </li>
                
                @if (!User.IsInRole("Admin"))
                {
                    @if (User.IsInRole("Seller")@* || User.IsInRole("Client")*@)
                    {
                        <li class="submenu-item">
                            <a href="/listing/mylistings">Мої оголошення</a>
                        </li>
                    }
                }
                @if (!User.IsInRole("Admin"))
                {
                    @if (User.IsInRole("Client"))
                    {
                        <li class="submenu-item ">
                            <a href="/favorite">Мої вподобання</a>
                        </li>
                    }
                }
                @*@if (User.IsInRole("Client"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ClientListing" asp-action="Index">Оголошення</a>
                    </li>
                }*@

               
                @*<li class="sidebar-item active">
                    <a href="/" class='sidebar-link'>
                        <i class="fas fa-home"></i>
                        <span>Головна сторінка</span>
                    </a>
                </li>*@
            </ul>

            @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Користувачі</a>
            </li>*@
            <li class="sidebar-item active">
                <a href="@Url.Action("Index", "User")" class='sidebar-link'>
                    <i class="bi bi-people"></i>
                    <span>Користувачі</span>
                </a>
            </li>


            @if (User.IsInRole("Admin"))
            {
        <li class="sidebar-item active">
            <a href="@Url.Action("Index", "Order")" class='sidebar-link'>
                <i class="bi bi-cart"></i>
                <span>Замовлення</span>
            </a>
        </li>
            }

            @if (!User.IsInRole("Admin"))
            {
                @if (User.IsInRole("Client"))
                {
                    <li class="sidebar-item active">
                        <a href="/order/indexclient" class='sidebar-link'>
                            <i class="bi bi-cart"></i>
                            <span>Замовлення</span>
                        </a>
                    </li>
                }
            }

            @if (!User.IsInRole("Admin"))
            {
                @if (User.IsInRole("Seller"))
                {
                <li class="sidebar-item active">
                    <a href="/order/indexseller" class='sidebar-link'>
                        <i class="bi bi-cart"></i>
                        <span>Замовлення</span>
                    </a>
                </li>
                }
            }
@if (!User.IsInRole("Admin"))
            {
                @if (User.IsInRole("Seller")@* || User.IsInRole("Client")*@)
                {
        <li class="sidebar-item active">
            <a href="@Url.Action("Analitic", "User")" class='sidebar-link'>
                <i class="bi bi-people"></i>
                <span>Analitic</span>
            </a>
        </li>
                }
            }
        @*<li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Замовлення</span>
            </a>
            <ul class="submenu ">
                <li class="submenu-item ">
                    <a href="/order">Усі замовлення</a>
                </li>
                    @if (User.IsInRole("Seller"))
                    {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SellerListing" asp-action="Index">Мої замовлення</a>
                    </li>
                    }*@


       @* <li class="sidebar-title">Raise Support</li>

        <li class="sidebar-item  ">
            <a href="https://zuramai.github.io/mazer/docs" class='sidebar-link'>
                <i class="bi bi-life-preserver"></i>
                <span>Documentation</span>
            </a>
        </li>

        <li class="sidebar-item  ">
            <a href="https://github.com/zuramai/mazer/blob/main/CONTRIBUTING.md" class='sidebar-link'>
                <i class="bi bi-puzzle"></i>
                <span>Contribute</span>
            </a>
        </li>

        <li class="sidebar-item  ">
            <a href="https://github.com/zuramai/mazer#donate" class='sidebar-link'>
                <i class="bi bi-cash"></i>
                <span>Donate</span>
            </a>
        </li>*@

    </ul>
</div>